21_checkpoint.keras
/training
/21_logs
/.ipynb_checkpoints
/__pycache__
/logs 
/CheckPoint.data-00000-of-00001
/translator_en_de_converter
/reqs
checkpoint
*.png
run_script - Copy.txt
*.zip
*.bat
*.ps
*.ps1
*.index
*.data-00000-of-00001
